# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sarah Haider\OneDrive - HTL Spengergasse\Desktop\4BHBGM\MIS-2020_21\1.Semester\spengermed\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
